  <footer>
  {{ partial "foot_custom.html" . }}
  {{ partial "footer_highlightjs" . }}

  {{ if eq .URL "/" }}

  {{ with .Site.Params.footer.home }}
  <div class="copyright">{{ . | markdownify }}</div>
  {{ end }}

  {{ else }}
  {{ $section := default .Section ($.Scratch.Get "section") }}
  {{ with (index $.Site.Params.footer $section) }}
  <div class="copyright">{{ . | markdownify }} </div>
  {{ end }}
  {{ end }}

  </footer>
  </article>
  {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
